* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #2d334a;
  --background: #fcc2d7;
}
body {
  background-color: var(--background);
  font-family: 'Playfair Display', serif;
  color: var(--text-color);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 53rem;
  margin: 3rem auto 0 auto;
}

.main-nav-lists {
  text-decoration: none;
  display: flex;
  gap: 1.8rem;
}

.nav-list {
  text-decoration: none;
  color: var(--text-color);
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.logo {
  text-decoration: none;
  color: var(--text-color);
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 400;
}

.main-hero-text {
  font-size: 6rem;
  line-height: 1;
  padding: 7rem 0 1rem 0;
}

.quote {
  font-size: 1.3rem;
}

.error {
  text-align: center;
}

.about-photo {
  width: 25%;
  height: 25%;
  border: 17px solid #fff;
}

.about-box {
  display: flex;
  gap: 10rem;
  padding: 5rem 0 1rem 0;
}

.about-box p {
  letter-spacing: 1px;
  word-spacing: 1px;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact {
  letter-spacing: 1px;
  word-spacing: 1px;
}

.contact-details {
  display: flex;
  gap: 5rem;
}

.contact-info {
  text-decoration: none;
  border-bottom: 1px solid var(--text-color);
  color: var(--text-color);
  font-size: 1.5rem;
}

.contact-head {
  margin-bottom: 0.7rem;
  margin-top: 2rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-container {
  padding: 8rem 0 1rem 0;
}
