* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #2d334a;
  --background: #fcc2d7;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--background);
  font-family: 'Playfair Display', serif;
  color: var(--text-color);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.container {
  max-width: 60rem;
  margin: 3rem auto 0 auto;
}

.main-nav-lists {
  display: grid;
  gap: 1.8rem;
  grid-template-columns: repeat(3, 1fr);
}

.nav-list {
  text-decoration: none;
  color: var(--text-color);
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.logo {
  text-decoration: none;
  color: var(--text-color);
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 400;
}

.main-hero-text {
  font-size: 6rem;
  line-height: 1;
  padding: 7rem 0 1rem 0;
}

.quote {
  font-size: 1.3rem;
}

.error {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  padding: 13rem 0 38rem;
}

h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.contact {
  letter-spacing: 1px;
  word-spacing: 1px;
}

.contact-details {
  display: flex;
  gap: 5rem;
}

.contact-info {
  text-decoration: none;
  border-bottom: 1px solid var(--text-color);
  color: var(--text-color);
  font-size: 1.7rem;
  font-family: 'IBM Plex Sans', sans-serif;
}

.contact-head {
  margin-bottom: 0.7rem;
  margin-top: 2rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 0.9rem;
}

.contact-container {
  padding: 8rem 0 9.6rem 0;
  /* height: 79vh; */
}

.footer-nav-list {
  text-decoration: none;
  color: var(--text-color);
}

.about-box {
  display: flex;
  gap: 10rem;
  padding: 8rem 0 4.2rem 0;
  /* height: 79vh; */
  align-items: center;
}

.about-photo {
  height: 20rem;
  width: 15rem;
  border: 9px solid #fff;
}

p {
  letter-spacing: 1px;
  word-spacing: 2px;
}

h2 {
  font-size: 4.2rem;
  letter-spacing: 2px;
  word-spacing: 5px;
  font-weight: 500;
  margin-bottom: 2rem;
}

.works {
  padding: 8rem 0 9rem 0;
}

.work-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5rem;
  row-gap: 2rem;
}

.project-image {
  height: 22rem;
  width: 16.61rem;
  transition: all 0.9s;
  cursor: pointer;
}

.project-image:hover {
  transform: scale(0.8);
}

h4 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1px;
  word-spacing: 2px;
}

h5 {
  margin-bottom: 5rem;
  margin-top: 6rem;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.selected-works-flex {
  display: grid;
  gap: 2rem;

  align-items: center;
  margin-bottom: 5rem;

  grid-template-columns: 6fr 94fr;
}

.selected-title {
  font-size: 3rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--text-color);
}

.about-me-first {
  margin-bottom: 1rem;
}

.all-projects {
  font-size: 1rem;
  text-decoration: none;
  color: var(--text-color);
  border-bottom: 1px solid var(--text-color);
}

.get-in-touch {
  border: 2px solid var(--text-color);
  color: var(--text-color);
  padding: 0.8rem 2rem;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.5rem;
}

.get-in-touch:hover {
  background-color: var(--text-color);
  color: #fff;
}

.get-in-touch-box {
  padding: 5rem 0 10rem 0;
}

.get-in-touch-content {
  margin-bottom: 3rem;
}

.single-work {
  text-decoration: none;
  color: var(--text-color);
}

/* .single-work:active {
  transform: scale(1.2);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
} */

.single-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

.main-project-image {
  height: 32rem;
  width: 28rem;
}

.sample1 {
  height: 22rem;
  width: 22rem;
}

.sample2 {
  height: 25rem;
  width: 28rem;
}

.sample3 {
  height: 22rem;
  width: 18rem;
}

.single-work-content {
  padding: 8rem 0 9rem 0;
}

.about-para p {
  line-height: 1.4;
}

/* media queries */

/* below 1000px */

@media (max-width: 63em) {
  .container {
    max-width: 90%;
  }

  html {
    font-size: 78.25%;
  }

  .work-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact-details {
    display: grid;
    gap: 0;
  }

  .single-grid {
    grid-template-columns: 1fr;
  }
}

/* below 825px */

@media (max-width: 52em) {
  /* .container {
    max-width: 40rem;
  } */
}

/* below 700px */

@media (max-width: 44em) {
  .main-project-image {
    height: 32rem;
    width: 24rem;
  }

  .sample2 {
    height: 25rem;
    width: 22rem;
  }

  .about-box {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
  }

  .about-photo-main {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .project-image {
    height: 30rem;
    width: 23.61rem;
  }

  .work-grid {
    grid-template-columns: 1fr;
  }
}

/* below 586px */

@media (max-width: 36em) {
  /* .container {
    max-width: 28.5rem;
  } */

  .main-nav-lists {
    gap: 0;
  }

  .main-hero-text {
    font-size: 3.5rem;
  }
  .quote {
    font-size: 1rem;
  }
  .selected-title {
    font-size: 2rem;
  }
  h3 {
    font-size: 2.1rem;
  }
}
